body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.block {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

.done {
  background-color: rgb(171, 228, 146) !important;
}

.card {
  background-color: rgb(241, 245, 155);
}